/* apply a natural box layout model to all elements, but allowing components to change
http://www.paulirish.com/2012/box-sizing-border-box-ftw */
html {
  box-sizing: border-box;
  font: 400 1em/1.4 'Open Sans',sans-serif;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* TODO What are people's thoughts on this? */
html,
body {
    height: 100%;
}
